<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="header">
            <div class="header-inner">
                <div class="menu">
                    <h3><a class="logo" href="">IVA SKIN</a></h3>
                    <h3><a class="menu__list-link" href="#">УСЛУГИ</a></h3>
                    <h3><a class="menu__list-link" href="#">О НАС</a></h3>
                    <h3><a class="menu__list-link" href="#">FAQ</a></h3>
                    <h3><a class="menu__list-link" href="#">КОНТАКТЫ</a></h3>
                </div>
                <div class="menu2">
                    <h3><a class="menu__list-link1" href="#" class="IVA" >Г. ТАГАНРОГ, УЛ. ОКТЯБРЬСКАЯ 17</a></h3>
                </div>
            </div>
        </div>
    </header>

    <div class="full-review">
        <h1 id="h1rr">{{ review.serv.name }}</h1>
        <h3 id="h3rr">{{ review.user.username }}</h3>
        <h3 id="h3rr">{{ review.date }}</h3>
        <p id="h3rr">{{ review.text }}</p>
    </div>
    
</body>
</html>