<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <title>Редактировать профиль</title>
</head>
<body>
    <header>
        <div class="header">
            <div class="header-inner">
                <div class="menu">
                    <h3><a class="logo" href="{% url 'index' %}">IVA SKIN</a></h3>
                    <h3><a class="menu__list-link" href="#">УСЛУГИ</a></h3>
                    <h3><a class="menu__list-link" href="#">О НАС</a></h3>
                    <h3><a class="menu__list-link" href="#">FAQ</a></h3>
                    <h3><a class="menu__list-link" href="#">КОНТАКТЫ</a></h3>
                </div>
                <div class="menu2">
                    <h3><a class="menu__list-link1" href="#" class="IVA" >Г. ТАГАНРОГ, УЛ. ОКТЯБРЬСКАЯ 17</a></h3>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
            <div class="edit-profile-card">
                <h1 id="h1-p">Редактировать профиль</h1>
                <hr class="h-profile">
                {% if messages %}
                    {% for message in messages %}
                        <div>
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
                
                <form method="post">
                    {% csrf_token %}
                    
                    <div class="for-name">
                        <!-- <label for="{{ form.first_name.id_for_label }}">Имя</label> -->
                         <div class="container-for-form">
                            <p>Имя</p>
                            <div class="inp">
                                {{ form.first_name }}
                            </div>
                        </div>
                        {% if form.first_name.errors %}
                            <div>
                                {% for error in form.first_name.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    
                    <div class="for-lastname">
                        <!-- <label for="{{ form.last_name.id_for_label }}">Фамилия</label> -->
                         <div class="container-for-form">
                            <p>Фамилия</p>
                            <div class="inp">
                                {{ form.last_name }}
                            </div>
                        </div>
                        {% if form.last_name.errors %}
                            <div>
                                {% for error in form.last_name.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    
                    <div class="for-telephone">
                        <!-- <label for="{{ form.phone.id_for_label }}">Телефон</label> -->
                         <div class="container-for-form">
                            <p>Телефон</p>
                            <div class="inp">
                                {{ form.phone }}
                            </div>
                        </div>
                        {% if form.phone.errors %}
                            <div>
                                {% for error in form.phone.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    
                    <div class="for-email">
                        <!-- <label for="{{ form.email.id_for_label }}">Email</label> -->
                         <div class="container-for-form">
                            <p>Email</p>
                            <div class="inp">
                                {{ form.email }}
                            </div>
                        </div>
                        {% if form.email.errors %}
                            <div>
                                {% for error in form.email.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <hr class="h-profile">
                    <div class="for-button">
                        <form action="{% url 'userprofile:profile' %}">
                            <button class="btn-profile">Назад к профилю</button>
                        </form>
                        <button type="submit" class="btn-profile">Сохранить изменения</button>
                    </div>
                </form>
            </div>
        </div>
</body>
</html>